/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
    background-color:lightpink;
}

.checklist-img{
    border:1px ;
    margin: 5px 10px 0px 15px; 
    padding: 5px;
}

h1 {
    color:black;
    font-family:cursive;
    font-size: 50

}
.form-field{
    display: block;
}

.room-page{
    background-color: #8FBC8F;
}

.room-img{
    border:5px;
    margin:5px 10px 5px 5px;
    padding: 5px;
}

li{
    padding:20px;
}
li:hover{
    text-decoration:underline;
}
.ADD-button {
    corners: round;
}

h2 {
    color:black;
    font-family: fantasy;
    font-size: 45
}

#whatever {
    color: royalblue;
}

h3 {
    color:black;
    font-family: monospace;
    font-size: 45;
}