<h1> Today's List! </h1>
        <input type= "checkbox">
        <a href="/todo/show">Clean My Room </a><br>
        <br>
        <br><input type= "checkbox">
        <a href="/todo/show2">Go Home</a><br>
        <br>
        <br><input type= "checkbox">
        <a id="whatever" href="/todo/show3">Do Homework</a><br>
        <br/>
        <input class="form-field" type="text" placeholder=" Add New ToDo">
        <input class="form-field" type="number" placeholder="Pomodoro Estimate">
        <input type="submit" value="ADD">
        <br/>
        <br/>
        <img class="checklist-img" src="http://www.nationalhealthcouncil.org/sites/default/files/Checklist.jpg" alt="checklist" width="250" height="150"/>
<h1>Example HTML Document with Ruby</h1>
<p>Let's do some math</p>
4+3= <%= 4+3 %>
<h2><%= @todo_description %></h2>


