<h1> Today's List! </h1>
       
        <% @todos.each do |todo| %>
           <li> 
           <a href="show/<%=todo.id%>"><%=todo.description%> </a>
                   
           </li>
           <% end %>
           
        <br/>
        <a href="new">Add new Todo</a>
        <br/>
        <br/>
        <img class="checklist-img" src="http://www.nationalhealthcouncil.org/sites/default/files/Checklist.jpg" alt="checklist" width="250" height="150"/>



