<h1> Today's List! </h1>
        <input type= "checkbox">
        <a href="show/1">Clean My Room </a><br>
        <br>
        <br><input type= "checkbox">
        <a href="show/2">Go Home</a><br>
        <br>
        <br><input type= "checkbox">
        <a id="whatever" href="show/3">Do Homework</a><br>
        <br/>
        <input class="form-field" type="text" placeholder=" Add New ToDo">
        <input class="form-field" type="number" placeholder="Pomodoro Estimate">
        <input type="submit" value="ADD">
        <br/>
        <br/>
        <img class="checklist-img" src="http://www.nationalhealthcouncil.org/sites/default/files/Checklist.jpg" alt="checklist" width="250" height="150"/>




